TOKEN="DISCORD TOKEN HERE"
PREFIX="!"
BOT_OWNER_ROLE_NAME="ROLE NAME"
ENABLE_REACTIONS=true
GUILD=0123456789 # Your guild to test the BOT
OWNER_ID=411557789068951552

OSU_API_KEY="OSU API KEY"
TENOR_KEY="TENOR API KEY"
TRACKER_API_KEY="TRACKER API KEY"
TWITCH_API_KEY="TWITCH API KEY"
YOUTUBE_TOKEN="YOUTUBE TOKEN"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mongodb+srv://<username>:<password>@<host>/<database>?retryWrites=true&w=majority"