# Node modules
node_modules

# Dev database
*.sqlite

# Yarn
yarn.lock
yarn-*.log

# Environment variables
.env
.env.production

# Builded bot
dist
coverage

# VSCode settings
.vscode

# Development database
prisma/dev*.dv

# Logs
logs

# Thunder Client
thunder-tests