main#about {
  margin: 87px auto 150px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 110vh;

  .about {
    text-align: center;
    width: 60%;
    animation: opacityAnimation 2.5s;

    .title {
      font-weight: bold;
      font-size: 2.25em;
      color: var(--primary);
    }

    .text {
      font-size: 1.5em;
      color: var(--text);
      font-weight: normal;
      text-align: justify;
      margin-top: 125px;
      line-height: 1.25em;

      a {
        text-decoration: underline;
        color: var(--primary);
      }
    }
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}