<%- contentFor('body') %>

<%- contentFor('body') %>

<main id="about">
  <section class="about">
    <h1 class="title">About deepz!</h1>
    <h3 class="text">deepz first was an idea to make a BOT like the others developed by the community like Tatsu,
      Mantaro, etc. But I never saw a BOT developed with TypeScript and implementing utilities for every type of person.
      So me, the developer, decided to make this BOT, and make it a great BOT to the users.
      It was developed by one person and will be updated with your suggestions, your donates will help the BOT too.
      I hope deepz BOT help you with your discord and bring fun to your members!</h3>
  </section>
  <section class="about">
    <h1 class="title">About the developer!</h1>
    <h3 class="text">Hi! I’m Alan, 17 years old, programmer and UI/UX designer. Actually interning in SABESP and living
      on Brazil. Studying system development and on third year of high school. I’ve been studying JavaScript for 1 year,
      which I know libraries and frameworks like: ReactJS, VueJS, Express, Adonis, etc.
      If you want me to make your website or the design of your website, <a
        href="https://discord.com/users/411557789068951552">contact me!</a></h3>
  </section>
</main>