<%- contentFor('body') %>

<main id="commands">
  <h1>Command List</h1>
  <div class="subtitle">
    <p>[argument] = Optional argument</p>
    <p>&lt;argument&gt; = Obrigatory argument</p>
  </div>
  <% for (let i = 0; i < categories.length; i++) { %>
  <div class="category">
    <h1 class="title"><%= categories[i] %></h1>
    <div class="commands">
      <% for (let j = 0; j < commands.length; j++) { %>
      <% if (commands[j].category === categories[i]) { %>
      <h2><%= commands[j].command %></h2>
      <% } %>
      <% } %>
    </div>
  </div>
  <% } %>
</main>