<%- contentFor('body') %>

<main id="index">
  <div class="display-left hide">
    <div class="text">
      <h1 class="title">
        A bot developed to make your life easier!
      </h1>
      <h3 class="content">
        With deepz BOT you can play your favorites musics, see your stats on
        your favorites games like Counter Strike and “osu!”, etc. If you have
        one game which you want the bot to track, please suggest it
        <a href="/suggestions">clicking here.</a>
      </h3>
    </div>

    <img class="image" src="/images/command1.png" alt="d.csgo command" />
  </div>
  <div class="display-right hide">
    <div class="text">
      <h1 class="title">
        Profile and economy system!
      </h1>
      <h3 class="content">
        With deepz BOT you can have your own profile, with a background of your
        choice! deepz have reputation points, economy and marriage. Any
        suggestion? <a href="/suggestions">Click here.</a>
      </h3>
    </div>

    <img class="image" src="/images/command2.png" alt="d.profile command" />
  </div>
  <div class="display-left hide">
    <div class="text">
      <h1 class="title">
        Funny and Core commands!
      </h1>
      <h3 class="content">
        deepz BOT have funny commands and core commands, which the core commands
        you can use to see the documentation, changelogs and discord invite. The
        list of funny commands is low, which will be updated ASAP!
      </h3>
    </div>

    <img class="image" src="/images/command3.png" alt="d.changelogs command" />
  </div>
</main>